.inventory-container {
  max-width: 1250px;
  height: fit-content;
  margin: 15px auto;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
  width: 81%;
  margin-top: 5px;
  margin-left: 16%;
}
body {
    background-color: #e2dede;
}
.inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inventory-header h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.add-btn {
  background-color: #2563eb;
  color: #fff;
  margin-top: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.inventory-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inventory-filters input,
.inventory-filters select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  flex: 1;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.inventory-table thead th {
  text-align: left;
  padding: 12px;
  background: #f9fafb;
  color: #333;
  font-size: 14px;
}

.inventory-table tbody td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  color: #444;
  font-size: 14px;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-img-placeholder {
  width: 40px;
  height: 40px;
  background: #e2e8f0;
  border-radius: 50%;
  font-size: 10px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name {
  font-weight: 500;
}

.product-variant {
  font-size: 12px;
  color: #888;
}

.edit-link {
  color: blue;
  cursor: pointer;
  margin-right: 8px;
}

.delete-link {
  color: red;
  cursor: pointer;
}
.overlay-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.form-box {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.form-box h3 {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.form-row input,
.form-row select,
textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
}

.image-preview {
  width: 80px;
  height: 80px;
  background: #e2e8f0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 12px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.form-buttons button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.form-buttons button:nth-child(2) {
  background: #e2e8f0;
  color: #333;
}
